.tabs .tab a {
    color: #5c068c;
}

.tabs .tab a:hover {
    color: #5c068c;
    /*Custom Color On Hover*/
}

.tabs .tab a:focus.active {
    color: #ffffff;
    /*Custom Text Color While Active*/
    background-color: #5d068c7a;
    /*Custom Background Color While Active*/
}

.tabs .tab a.active {
    color: #ffffff;
    /*Custom Text Color While Active*/
    background-color: #5c068c;
    /*Custom Background Color While Active*/
}

.tabs .indicator {
    background-color: #5c068c;
    /*Custom Color Of Indicator*/
}

.login {
	background-color: rgb(255, 255, 255);
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0, 0, 0, 0.22);
	position: relative;
    margin-top: 3em;
    margin-bottom: 3em;
    padding: 1em;
}

body {
    font-family: Georgia;
}

main {
    background-color: rgba(151, 247, 247, 0.397);
    padding-bottom: 1em;
    padding-top: 2em;
}

i {
    margin-right: 0.8em;
    margin-top: 0.2em;
}

p {
    font-size: large;
}

[type="date"] {
  background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ;
}

[type="date"]::-webkit-inner-spin-button {
  display: none;
}

[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}
