body {
    font-family: Georgia;
}

main {
    background-color: rgba(151, 247, 247, 0.397);
    padding-bottom: 4em;
    padding-top: 2em;
}

.user-box {
	background-color: rgba(255, 255, 255, 0);
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0, 0, 0, 0.22);
	position: relative;
    margin-top: 2em;
}

.option-box {
    padding-bottom: 2em;
}

.db {
    font-weight: lighter;
}

th {
    border-bottom: rgb(155, 155, 155) 1px solid;
}
